:root{
    --color--one:#872341;
    --color--two:#BE3144;
    --color--two--alternative:#F05941;
    --color--three:#eaf6ff;
    --color--four:#FFD41C;
    --color--buttons-a:#FFF5CB;
    --color-white-off:#f2f5fa;
    --color-white-on:#FFFF;
    --color-text-alternative:#222222;
    --font-DM-sanz:'DM Sans', sans-serif;
    --font-inter: 'Inter', sans-serif;

}

*{
    box-sizing:border-box;
    margin:0;
    padding:0; 
    position: relative;  
}
.mobile-menu{
    position: relative;
    display: none;
}
.menu-mobile{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 300;
    backdrop-filter: blur(4px);
    background-color:rgba(255,255,255,0.3);
} 
.menu-mobile--content{
    height: 100vh;
    background-color: var(--color-white-on);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: fixed;
    margin: 0 auto;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.menu-mobile-icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.menu-mobile--content nav{
    position: relative;
}
.menu-mobile--content nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu-mobile--content nav ul li{
    font-family: var(--font-DM-sanz);
    text-transform: capitalizea;
    padding: .7rem;
    right: 0;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.menu-mobile--content nav ul li span{
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #BE3144;
    margin-right: 10px;
    border-radius: .2rem;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color--one);
    padding: 1rem .5rem;
    position: fixed;
    top: 0;
    z-index:100;
    top: 1.2rem;
}

header .logo{
    width: 60px;
    height: 40px;
}
.header-one{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: .5rem;
    margin-bottom: .7rem;
    position: fixed;
    z-index: 100;
    background-color: var(--color--two);
}
.header-one div p{
    font-size: .5rem;
    font-family: var(--font-DM-sanz);
    color: var(--color-white-on);
}

.header-two{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
}
.nav-descktop{
    display: none;
}

/* section-one */

.section-one {
    width: 100%;
    background-color: var(--color-white-off);
    padding-top: 8rem;
}
.section-one--container {
    width: 100%;
    max-width: 1100px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-section--one{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.title-section--one h1{
    font-family: var(--font-DM-sanz);
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
}
.title-section--one h1 span{
    color: var(--color--two);
}
.title-section--one p{
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--font-inter);
    line-height: 1.6rem;
}
.section-one--picture{
    margin: 0 auto;
    width: 100%;
}
.section-one--picture img{
    width:100%;
    margin: 0 auto;
    padding-block: 3rem;
}
.section-one--form{
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.section-one--form form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--color--two);
    border-radius: 0.5rem;
    gap: 1rem;
    top: -2.2rem;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.section-one--form form input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--color-white-on);
    padding-bottom: 0.7rem;
    border-radius: 0.2rem;
    outline: none; /* Agrega esta línea para quitar el borde interno al enfocar el input */
}
.section-one--form form input::placeholder {
    color: var(--color-white-on);
    font-family: var(--font-inter);
    font-size: 0.9rem;
    font-weight: 400;
}
.section-one--form form button{
    padding: .7rem;
    margin-top: 1rem;
    border-radius: .2rem;
    border: none;
    background-color: #FFD41C;
    color: var(--color-text-alternative);
    font-family: var(--font-DM-sanz);
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.section-one--form form button span{
    vertical-align: -3px;
    margin-left: .5rem;
}
.section-one--form form input[type="date"]::placeholder {
    color: var(--color-white-on);
    font-family: var(--font-inter);
    font-size: 0.9rem;
    font-weight: 400;
}


/* section-two */

.section-two {
    width: 100%;
}
.section-two--container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1rem;
}
.section-two--container .what-we-do{
    font-size: .8rem;
    background-color: var(--color--buttons-a);
    border-left:3px solid var(--color--four);
    border-radius: .8rem;
    padding: .8rem;
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-inter);
    font-weight: 600;
    margin-bottom: 2rem;
}
.title-section--two h2{
    color: var(--color-text-alternative);
    font-family: var(--font-DM-sanz);
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3rem;
}
.title-section--two h2 span{
    color: var(--color--two);
}

.section-two--services {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
.section-two--services div{
    border: solid 2px var(--color-white-off);
    border-radius: .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-DM-sanz);
    text-align: center;
    gap: .7rem;
}
.section-two--services div h3{
    font-size: 1.5rem;
    text-transform: capitalize;
}
.section-two--services div img{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 auto;    ;
    
}

/* section-three */

.section-three {
    width: 100%;
    padding-top:3rem ;
}
.section-three--container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.section-three--container picture img{
    width: 100%;
    max-width: 600px;
}

.section-three--paragraf h2{
    margin-top: 2rem;
    font-family: var(--font-DM-sanz);
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
}
.section-three--paragraf h2 span{
    color: var(--color--two);
}
.section-three--paragraf p{
    font-size: 1.2rem;
    font-family: var(--font-inter);
}
.section-three .section-three--paragraf button{
    padding: .7rem;
    background-color: var(--color--four);
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    font-family: var(--font-DM-sanz);
    margin-top: .8rem;
    color: var(--color-text-alternative);
}
.verModal{
    transition: .2s;
    font-weight: 400;
}
.verModal:hover{
    color: #BE3144;
    transition: .2s;
}
/* section-four */

.section-four {
    width: 100%;
    margin-top: 3rem;
    background-color: var(--color-white-offe);
    padding-bottom: 3rem;
}
.section-four--container {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1100px;
}
.section-four--container h3{
    font-size: .8rem;
    background-color: var(--color--buttons-a);
    border-left:3px solid var(--color--four);
    border-radius: .8rem;
    padding: .8rem;
    text-align: center;
    margin-inline: 4rem;
    margin-bottom: 1.5rem;
    font-family: var(--font-inter);
    font-weight: 600;
    margin-bottom: 2rem;
}
.title-section--four {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.title-section--four h2{
    font-size: 1.8rem;
    font-family: var(--font-DM-sanz);
    color: var(--color-text-alternative);
    text-align: center;
    text-transform: capitalize;
}
.title-section--four span{
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: var(--color--one);
    margin: 0 auto;
}
.article-section--four {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
}
.article-section--four article{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
    border: solid 2px var(--color-white-off);
    border-radius: .5rem;
    background-color: var(--color-white-on);
}
.article-section--four article img{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: var(--color-white-off);
    padding: .7rem;
    border-radius: 50%;
    margin: 0 auto;
}
.article-section--four article h2{
    font-size: 1.5rem;
    font-family: var(--font-DM-sanz);
    line-height: 2rem;
    margin-block: 1.5rem;
    text-transform: capitalize;
}
.article-section--four article p{
    font-family: var(--font-inter);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: .2s;
}
.article-section--four article p:hover{
    color: var(--color--two);
}
.article-section--four article:nth-child(1){
    background: radial-gradient(141.42% 141.42% at 100% 100%, #ad515fd7 0%, #872341 63%);
}
.article-section--four article:nth-child(1) img{
    background-color: var(--color-white-on);
}
.article-section--four article:nth-child(1) h2{
    color: var(--color-white-on);
}
.article-section--four article:nth-child(1) p{
    color: var(--color-white-on);
}

/* section-five */

.section-five {
    width: 100%;
    margin-bottom: 2rem;
}
.section-five--container {
    padding-inline: 1rem;
}
.section-five--info {
    display: inline-block;
    width: 100%;
    height: 325px;
    background-image: url('../assets/img/camion.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    border-radius:.5rem ;
    padding-left: 2rem;
}
.section-five--info h2{
    font-size: 2rem;
    font-family: var(--font-DM-sanz);
    font-weight: 600;
    color: var(--color-text-alternative);
    text-transform: capitalize;
    margin-top: 5rem;
}
.section-five--info button{
    padding: .7rem;
    margin-top: 1rem;
    border-radius: .3rem;
    border: none;
    background-color: #FFD41C;
    color: var(--color-text-alternative);
    font-family: var(--font-DM-sanz);
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}

/* section-six */

.section-six {
    width: 100%;
}
.section-six---container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 980px;
    gap: 1rem;
}
.section-six--feedback {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.section-six--feedback h3{
    font-size: .8rem;
    background-color: var(--color--buttons-a);
    border-left:3px solid var(--color--four);
    border-radius: .8rem;
    padding: .8rem;
    text-align: left;
    margin-right: 10rem;
    font-family: var(--font-inter);
    font-weight: 600;
    margin-top: 2rem;
}
.section-six--feedback h2 {
    font-size: 2rem;
    font-family: var(--font-DM-sanz);
}
.section-six--feedback span{
    display: inline-block;
    width: 80px;
    height: 5px;
    background-color: var(--color--one);
}
.section-six--feedback div h4{
    font-size: 1.8rem;
    font-family: var(--font-inter);
    font-weight: 500;
}
.section-six--feedback div P{
    font-size: 1rem;
    font-family: var(--font-DM-sanz);
    font-weight: 400;
}
.section-six--testimonials {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem;
}
.div-profaile--section-six {
    background-color: var(--color--three);
    padding: 1rem;
    width:100%;
    max-width: 340px;
    height:auto;
    border-radius: 0.7rem;
    box-shadow: 0 4px 8px rgba(89,73,30,0.16);
}


/* footer */

.section-six--footer{
    width: 100%;
    position: relative;
    background-color: var(--color-white-off);
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    font-family: var(--font-DM-sanz);
}

.section-six--footer .section-six--redes{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-on);
    width: 60%;
    border-top: 5px solid var(--color--two);
    position: relative;
    top: -4rem;
    max-width: 190px;
}
.section-six--footer .section-six--redes img{
    width: 100px;
    height: auto;
    margin: 0 auto;
    margin-top: 2.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.section-six--footer .section-six--container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
}
.section-six--container article h3{
    font-size: 1.2rem;
    color: var(--color-azul-off);
    font-weight: bold;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
}
.section-six--container article h3 span{
    display: inline-block;
    width: 12px;
    height: 6px;
    background-color: var(--color--one);
    margin-right: 7px;
    border-radius: 3px;
}
.section-six--container article p{
    color: #898989;
    font-weight: 500;

    display: flex;
    align-items: center;
}
.section-six--container article p span{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--color--one);
    margin-right: 7px;
}
.section-six .footer-two{
    background-color: var(--color-text-alternative);
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-white-off);
    padding: 0.7rem;
    font-family: var(--font-inter);
}
/* menu de categorias */

.categories--programs {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    padding: 1rem;
}

.name--category {
    font-family: var(--fuente-poppins);
    font-size: 1.1rem;
    background-color: var(--color-white-off);
    color: #282623;
    font-weight: bold;
    text-align: center;
    padding: 1.2rem;
    border-radius: .7rem;
    text-transform: capitalize;
    cursor: pointer;
}

/* modals-popUps */

.window-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    background-color:rgba(255,255,255,0.3);
    z-index: 2;
    display:none;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    padding: 1rem;
}
.window-container {
    width: 100%;
    position: relative;
    max-width: 600px;
    background-color: var(--color-white-on);
    border-radius: .5rem;
    margin: 0 auto;
    padding: 1.5rem;
    animation: modal .5s;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.4);
}
@keyframes modal {
    from{
        transform: translateY(50vh);
    }
    to{
        transform: translateY(0);
    }
}
.close{
    transition: transform 1s cubic-bezier(0, -0.42, 1, -41);
    transform: translateY(60vh);
}
.window-container h2, 
.window-container p{
    font-family: var(--font-DM-sanz);
}
.window-container h2{
    font-size: 2.5rem;
    color: var(--color-text-alternative);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color--one);
}
.window-container p{
    font-size: 1.2rem;
    color: var(--color-text-alternative);
    text-transform: capitalize;
    margin-bottom: 1.2rem;
}
.window-container .button-info--modal{
    padding: .7rem;
    font-family: var(--font-DM-sanz);
    background-color: var(--color--four);
    color: var(--color-text-alternative);
    text-transform: capitalize;
    font-weight: 500;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
}
.window-container .button-info--modal:hover{
    box-shadow: 4px 4px 1px rgba(0,0,0,.4);
    transition: .2s;
}
.window-container .button-info--modal:active{
    transform: translateY(2px);
    box-shadow: none;
}
.close-button {
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: var(--color--four);
    border: solid 2px var(--color-white-on);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.verModal{
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
}
.button-whatsApp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: var(--color--one);
    padding: .7rem;
    border-radius: 70%;
    display: flex;
    align-items: center;
}
.button-whatsApp span svg{
    width: 100%;
    max-width: 40px;
}
.Qukies{
    cursor: pointer;
}
.Qukies:hover{
    color: var(--color-text-alternative);
}

/* politicas y tratamiento de datos */

.politicas {
    width: 100%;
    padding-top: 7rem;
}
.section-politicas-content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
}
.politica--content {
    display: flex;
    flex-direction: column;
}
.section-politicas-content .politica-title{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-family: var(--font-DM-sanz);
    text-transform: capitalize;
}
.politica--content p{
    font-family: var(--font-inter);
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: none;
}
